body{
  background-color: rgba(255, 0, 0, 0.5);
}

.colorInput{
  background-color: red;
}

#color{
  background-color: red;
  margin: 0 auto;
  height: 150px;
  width: 150px;
  border: 2px solid green;
}
